<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yianlian.mapper.VpnDeptYianlianMappingMapper">

    <resultMap type="com.ruoyi.yianlian.domain.VpnDeptYianlianMapping" id="MappingResult">
        <id     property="id"           column="id"           />
        <result property="deptId"       column="dept_id"      />
        <result property="appId"        column="app_id"       />
        <result property="yianlianId"   column="yianlian_id"  />
        <result property="createTime"   column="create_time"  />
    </resultMap>

    <sql id="selectColumns">
        select id, dept_id, app_id, yianlian_id, create_time
        from vpn_dept_yianlian_mapping
    </sql>

    <select id="selectVpnDeptYianlianMappingById" parameterType="Long" resultMap="MappingResult">
        <include refid="selectColumns"/>
        where id = #{id}
    </select>

    <select id="selectVpnDeptYianlianMappingList" parameterType="com.ruoyi.yianlian.domain.VpnDeptYianlianMapping" resultMap="MappingResult">
        <include refid="selectColumns"/>
        <where>
            <if test="deptId != null">and dept_id = #{deptId}</if>
            <if test="appId != null and appId != ''">and app_id = #{appId}</if>
            <if test="yianlianId != null and yianlianId != ''">and yianlian_id = #{yianlianId}</if>
        </where>
    </select>

    <select id="selectByVpnDeptId" parameterType="Long" resultMap="MappingResult">
        <include refid="selectColumns"/>
        where dept_id = #{vpnDeptId}
    </select>

    <select id="selectByYianlianDeptId" parameterType="String" resultMap="MappingResult">
        <include refid="selectColumns"/>
        where yianlian_id = #{yianlianDeptId}
    </select>

    <select id="selectByDeptId" parameterType="Long" resultMap="MappingResult">
        <include refid="selectColumns"/>
        where dept_id = #{deptId}
    </select>

    <select id="selectByDeptIdAndAppId" resultMap="MappingResult">
        <include refid="selectColumns"/>
        where dept_id = #{deptId} and app_id = #{appId}
    </select>

    <insert id="insertVpnDeptYianlianMapping" parameterType="com.ruoyi.yianlian.domain.VpnDeptYianlianMapping" useGeneratedKeys="true" keyProperty="id">
        insert into vpn_dept_yianlian_mapping (dept_id, app_id, yianlian_id, create_time)
        values (#{deptId}, #{appId}, #{yianlianId}, sysdate())
    </insert>

    <insert id="insert" parameterType="com.ruoyi.yianlian.domain.VpnDeptYianlianMapping" useGeneratedKeys="true" keyProperty="id">
        insert into vpn_dept_yianlian_mapping (dept_id, app_id, yianlian_id, create_time)
        values (#{deptId}, #{appId}, #{yianlianId}, sysdate())
    </insert>

    <update id="updateVpnDeptYianlianMapping" parameterType="com.ruoyi.yianlian.domain.VpnDeptYianlianMapping">
        update vpn_dept_yianlian_mapping
        <set>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="appId != null and appId != ''">app_id = #{appId},</if>
            <if test="yianlianId != null and yianlianId != ''">yianlian_id = #{yianlianId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteVpnDeptYianlianMappingById" parameterType="Long">
        delete from vpn_dept_yianlian_mapping where id = #{id}
    </delete>

    <delete id="deleteVpnDeptYianlianMappingByIds">
        delete from vpn_dept_yianlian_mapping where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByVpnDeptId" parameterType="Long">
        delete from vpn_dept_yianlian_mapping where dept_id = #{vpnDeptId}
    </delete>

    <delete id="deleteByDeptId" parameterType="Long">
        delete from vpn_dept_yianlian_mapping where dept_id = #{deptId}
    </delete>

    <delete id="deleteByDeptIds">
        delete from vpn_dept_yianlian_mapping where dept_id in
        <foreach item="deptId" collection="array" open="(" separator="," close=")">
            #{deptId}
        </foreach>
    </delete>

</mapper>
